<div class="main-layout">
  <div class="login">
    <div class="title">
      {{{title}}}
    </div>
    <form class="form">
      <div class="group-all">
        <div class="group"> {{{email}}} </div>
        <div class="group"> {{{login}}} </div>
        <div class="group"> {{{firstName}}} </div>
        <div class="group"> {{{secondName}}} </div>
        <div class="group"> {{{phone}}} </div>
        <div class="group"> {{{password}}} </div>
        <div class="group"> {{{passwordTwo}}} </div>
      </div>
      {{{button}}}
      <div class="link">
        {{{link}}}
      </div>
    </form>
  </div>
</div>