				<div class="main-layout">
					<div class="profile">
					 {{{ nav }}}
						<div class="page">
								{{{ avatar }}}

								<div class="info">
								<form class="edit-profile" action="">
									<ul>
										<li>
											 {{{email}}}
										</li>
										<li>
											 {{{ login }}}
										</li>
										<li>
											 {{{ firstName }}}
										</li>
										<li>
										 {{{ secondName }}}
										</li>
										<li>
											{{{ nameChat }}}
										</li>
										<li>
										 {{{ phone }}}
										</li>
									</ul>

									<div class="edit">
										{{{ button }}}
									</div>
									</form>
								</div>

						</div>
					</div>    
        