<div class="main-layout">
  <div class="profile">
    {{{ nav }}}
    <div class="page">
      {{{ avatar }}}
      <div class="info">
        <form class="edit-password" action="">
          <ul>
            <li>
              {{{ oldPassword }}}
            </li>
            <li>
              {{{ Password }}}
            </li>
            <li>
              {{{ PasswordTwo }}}
            </li>
          </ul>
          <div class="edit">
           {{{ button }}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>