<div class="main-layout">
  <div class="login">
   {{{ title }}}
    <form class="form">
      <div class="group-all">
        <div class="group">
          {{{ login }}}
        </div>
        <div class="group">
           {{{ password }}}
        </div>
      </div>
      {{{ button }}}
      <div class="link"> 
        {{{ link }}}
      </div>
    </form>
  </div>
</div>