<div class="main-layout">
  <div class="profile">
    {{{nav}}}
    <div class="page">
      {{{avatar}}}
      <div class="info">
        <ul>
          {{{prof}}}
        </ul>
        <div class="edit">
          {{{edit}}}
          {{{editPassword}}}
          {{{exit}}}
        </div>
      </div>
    </div>
  </div>
</div>